<% url = "https://customcharts.dev" %>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<% resource_title = strip_html(strip_newlines(title)) %>
<title><% if resource_title != "Index" %><%= resource_title %> | <%= metadata.title %><% else %><%= metadata.title %>: <%= metadata.tagline %><% end %></title>

<meta name="description" content="<%= metadata.description %>" />

<meta name="services-availability-url" content="https://availability.pascal.works/services.js">

<% og_image = resource.data.og_image || "images/custom-charts-developer-pascal-laliberte-chartjs-d3-stimulus-hotwire.jpg" %>

<meta property="og:url" content="<%= url %>"/>
<meta property="og:site_name" content="<%= metadata.title %>"/>
<meta property="twitter:title" content="<%= metadata.title %>"/>
<meta property="og:title" content="<%= metadata.title %>"/>
<meta property="og:image" content="<%= url %>/<%= og_image %>"/>
<meta property="og:image:height" content="315"/>
<meta property="og:image:width" content="600"/>
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:site" content="@pascallaliberte"/>
<meta name="twitter:creator" content="Pascal Laliberté"/>
<meta name="twitter:text:title" content="<%= metadata.title %>"/>
<meta name="twitter:description" content="<%= metadata.description %>">
<meta name="twitter:image" content="<%= url %>/<%= og_image %>">

<link rel="stylesheet" href="<%= webpack_path :css %>" />
<script src="<%= webpack_path :js %>" defer></script>
<%= live_reload_dev_js %>
